In [113]:
import numpy as np
import pandas as pd

In [114]:
df = pd.read_csv('adult.csv')

In [115]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [116]:
print(df.isnull().sum())

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [117]:
df.replace('?', np.nan)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [118]:
df.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [119]:
df.shape

(48842, 15)

In [120]:
df = df.dropna()
df.shape

(48842, 15)

In [121]:
print(df['marital-status'].unique(), '\n', df['marital-status'].nunique())

['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
 7

In [122]:
print(df['workclass'].unique(), '\n', df['workclass'].nunique())

['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
 9

In [123]:
print(df['education'].unique(), '\n',df['occupation'].nunique())

['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
 15

In [124]:
print(df['occupation'].unique(), "\n" ,df['occupation'].nunique())

['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
 15

In [125]:
print(df['relationship'].unique(), '\n', df['relationship'].nunique())

['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
 6

In [126]:
print(df['race'].unique(), '\n', df['race'].nunique())

['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
 5

In [127]:
print(df['gender'].unique(), '\n', df['gender'].nunique())

['Male' 'Female']
 2

In [128]:
print(df['native-country'].unique(), '\n', df['native-country'].nunique())

['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
 42

In [129]:
print(df['income'].unique(), '\n', df['income'].nunique())

['<=50K' '>50K']
 2

In [130]:
categorical_cols = ['workclass', 'marital-status', 'education', 'occupation', 'relationship', 'race', 'gender', 'native-country']

In [131]:
df['marital-status'].replace(['Never-married','Married-civ-spouse','Widowed', 'Divorced', 'Separated',
                               'Married-spouse-absent', 'Married-AF-spouse'], [1, 2, 3, 4, 5, 6, 7], inplace=True)

In [132]:
df['workclass'].replace(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov', 'State-gov',
                          'Self-emp-inc', 'Without-pay', 'Never-worked'], [1, 2, 3, 4, 5, 6, 7, 8, 9], inplace=True)

In [133]:
df['education'].replace(['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th', 'Prof-school',
                          '7th-8th', 'Bachelors', 'Masters', 'Doctorate', '5th-6th', 'Assoc-voc', '9th',
                          '12th', '1st-4th', 'Preschool'], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], inplace=True)

In [134]:
df['occupation'].replace(['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?',
                          'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical',
                          'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
                          'Transport-moving', 'Handlers-cleaners', 'Armed-Forces'],
                        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], inplace=True
                         )

In [135]:
df['relationship'].replace(['Own-child', 'Husband', 'Not-in-family', 'Unmarried', 'Wife', 'Other-relative'],
                           [1, 2, 3, 4, 5, 6], inplace=True)

In [136]:
df['race'].replace(['Black', 'White', 'Asian-Pac-Islander', 'Other', 'Amer-Indian-Eskimo'],
                   [1, 2, 3, 4, 5], inplace=True
                   )

In [137]:
df['gender'].replace(['Male', 'Female'], [0, 1], inplace=True)

In [138]:
l = []
for i in range(42):
    l.append(i)

In [139]:
df['native-country'].replace(['United-States', '?', 'Peru', 'Guatemala', 'Mexico', 'Dominican-Republic',
                               'Ireland', 'Germany', 'Philippines', 'Thailand', 'Haiti', 'El-Salvador',
                               'Puerto-Rico', 'Vietnam', 'South', 'Columbia', 'Japan', 'India', 'Cambodia',
                               'Poland', 'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
                               'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica', 'Ecuador',
                               'Yugoslavia', 'Hungary', 'Hong', 'Greece', 'Trinadad&Tobago',
                               'Outlying-US(Guam-USVI-etc)', 'France', 'Holand-Netherlands'], l, inplace=True)

In [140]:
df['income'].replace(['<=50K', '>50K'], [0, 1], inplace=True)

In [141]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,1,226802,1,7,1,1,1,1,0,0,0,40,0,0
1,38,1,89814,2,9,2,2,2,2,0,0,0,50,0,0
2,28,2,336951,3,12,2,3,2,2,0,0,0,40,0,1
3,44,1,160323,4,10,2,1,2,1,0,7688,0,40,0,1
4,18,3,103497,4,10,1,4,1,2,1,0,0,30,0,0

In [142]:
print(' ',df['capital-gain'].nunique(), '\n','Range: ', df['capital-gain'].max() - df['capital-gain'].min())

  123
 Range:  99999

In [143]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

## NAIVE BAYES CLASSIFIER

In [144]:
def train_test_split(data, target, test_size=0.2):
    num_rows = data.shape[0]

    indices = np.random.permutation(num_rows)

    num_test_rows = int(test_size * num_rows)
    test_indices = indices[:num_test_rows]
    train_indices = indices[num_test_rows:]

    x_train = data[train_indices, :]
    Y_train = target[train_indices]
    x_test = data[test_indices, :]
    Y_test = target[test_indices]

    return x_train, x_test, Y_train, Y_test

In [145]:
X = df.drop('income', axis=1)
y = df['income']

In [146]:
type(X), type(y)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [148]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values)

### P(Y == y) -> Prior Probability