In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('adult.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
print(df.isnull().sum())

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [18]:
print(df['marital-status'].unique(), '\n', df['marital-status'].nunique())

['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
 7

In [17]:
print(df['workclass'].unique(), '\n', df['workclass'].nunique())

['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
 9

In [37]:
print(df['education'].unique(), '\n',df['occupation'].nunique())

['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
 15

In [15]:
print(df['occupation'].unique(), "\n" ,df['occupation'].nunique())

['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
 15

In [19]:
print(df['relationship'].unique(), '\n', df['relationship'].nunique())

['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
 6

In [20]:
print(df['race'].unique(), '\n', df['race'].nunique())

['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
 5

In [21]:
print(df['gender'].unique(), '\n', df['gender'].nunique())

['Male' 'Female']
 2

In [22]:
print(df['native-country'].unique(), '\n', df['native-country'].nunique())

['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
 42

In [23]:
categorical_cols = ['workclass', 'marital-status', 'education', 'occupation', 'relationship', 'race', 'gender', 'native-country']

In [31]:
df['marital-status'].replace(['Never-married','Married-civ-spouse','Widowed', 'Divorced', 'Separated',
                               'Married-spouse-absent', 'Married-AF-spouse'], [1, 2, 3, 4, 5, 6, 7], inplace=True)

In [35]:
df['workclass'].replace(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov', 'State-gov',
                          'Self-emp-inc', 'Without-pay', 'Never-worked'], [1, 2, 3, 4, 5, 6, 7, 8, 9], inplace=True)

In [38]:
df['education'].replace(['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th', 'Prof-school',
                          '7th-8th', 'Bachelors', 'Masters', 'Doctorate', '5th-6th', 'Assoc-voc', '9th',
                          '12th', '1st-4th', 'Preschool'], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], inplace=True)

In [39]:
df['occupation'].replace(['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?',
                          'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical',
                          'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
                          'Transport-moving', 'Handlers-cleaners', 'Armed-Forces'],
                        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], inplace=True
                         )

In [40]:
df['relationship'].replace(['Own-child', 'Husband', 'Not-in-family', 'Unmarried', 'Wife', 'Other-relative'],
                           [1, 2, 3, 4, 5, 6], inplace=True)

In [41]:
df['race'].replace(['Black', 'White', 'Asian-Pac-Islander', 'Other', 'Amer-Indian-Eskimo'],
                   [1, 2, 3, 4, 5], inplace=True
                   )

In [43]:
df['gender'].replace(['Male', 'Female'], [0, 1], inplace=True)

In [44]:
l = []
for i in range(42):
    l.append(i)

In [45]:
df['native-country'].replace(['United-States', '?', 'Peru', 'Guatemala', 'Mexico', 'Dominican-Republic',
                               'Ireland', 'Germany', 'Philippines', 'Thailand', 'Haiti', 'El-Salvador',
                               'Puerto-Rico', 'Vietnam', 'South', 'Columbia', 'Japan', 'India', 'Cambodia',
                               'Poland', 'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
                               'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica', 'Ecuador',
                               'Yugoslavia', 'Hungary', 'Hong', 'Greece', 'Trinadad&Tobago',
                               'Outlying-US(Guam-USVI-etc)', 'France', 'Holand-Netherlands'], l, inplace=True)